# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.build/
.python-version
.venv/
venv/
ENV/

# Env files
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Node (for future frontend)
node_modules/
dist/
